.search-criteria-div {
  min-height: 50px;
  display:block;
  width: 80%;
  //border: 1px solid Black;
}

.action-wrapper {
    margin-top: 12px;
    display: flex;
    box-sizing: border-box;
    padding: 10px 5px;
    //border: 1px solid Black;
}

.action-wrapper > pagination-div {
    box-sizing: border-box;
    width: calc(50% - 32px);
    float: left;
    margin: 0 16px;
    text-align: right;
    //border: 1px solid Black;
}
