<div style="width:100%; text-align:center;">

  <div class="action-wrapper ">

    <div class="search-criteria-div">
      <lable>Search:</lable>
      <input [(ngModel)]='searchToken' style="height:30px; width:200px;" placeholder="Minimum 2 characters">
      <button (click)="searchPokemon()">Search</button> <button (click)="clearSearch()">Clear Search </button>
    </div>

    <div class="pagination-div">
      <button (click)="loadPreviousPage()">Previous </button>
      <button (click)="loadPage()">Next </button>
    </div>

  </div>

  <h1 *ngIf="!pokemon">Loading...</h1>
  <mat-grid-list [cols]="cols | async">
        <mat-grid-tile *ngFor="let item of pokemon">
          <img src="{{ item.image() }}">
          <div>
            <label style="font-weight:bold;">#{{item.id}}</label> <br/>
            <label style="font-weight:bold;">{{item.formattedName()}}</label>
          </div>
        </mat-grid-tile>
  </mat-grid-list>

</div>

